:root {
  --mainBlue: #050820;
  --lightBlue: #7d1692;
  --mainWhite: #f3f3f3;
  --mainDark: #2f195f;
  --mainYellow: #f596fa;
}
.navbar-brand {
  width: 39px;
  padding: 0 !important;
}
a {
  text-decoration: none;
  color: var(--lightBlue) !important;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  position: relative;
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: vat(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.hero {
  background-image: url("./components/malibu.jpg");
  background-position: center;
  background-size: cover;
  height: 95vh;
}
.nav {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.nav li {
  font-size: 20px;
  list-style: none;
}
.nav a {
  color: white;
  text-decoration: none;
}
.home-container {
  width: 75%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  height: 80%;
}

.hero-text {
  font-size: 18px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1.8;
  word-spacing: 1px;
}

.hero-buttons {
  width: 100%;
  margin-top: 30px;
}

.hero-btn {
  padding: 10px 25px;
  background-color: rgb(69, 214, 24);
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 50px;
}

.signup {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  padding: 15px;
  margin-bottom: 10px !important;
  background-color: #8080801a;
}

.signup-btn,
.signin-btn {
  border: none;
  background-color: var(--lightBlue);
  font-size: 16px;
  width: 50%;
  color: white;
  margin: 10px auto;
  padding: 15px 10px;
  border-radius: 50px;
}

.signup-btn:focus,
.signin-btn:focus,
.shop:focus,
input:focus {
  outline: none;
}

.signup-h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #887b7b;
}
.signin-container {
  background-color: #eee;
  height: 100vh;
}
.signin-container h1 {
  text-align: center;
  padding: 30px 0;
  color: var(--mainBlue);
}
.signin-form,
.box {
  width: 40%;
  background-color: whitesmoke;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
}
.signin-form form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.signin-form h3 {
  padding: 30px 0;
  font-size: 24px;
}
.signin-form a {
  color: var(--lightBlue);
}
.error {
  color: red;
  margin: 5px;
  text-align: center;
}
.shop {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px solid black;

  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer {
  background-color: var(--mainBlue);
  width: 100%;
}

.flex-container {
  width: 1140px;

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.footer-links {
  padding: 7px;
  color: var(--mainWhite);
}
a:hover {
  text-decoration: none !important;
  color: var(--mainDark) !important;
}

.signup-link:hover {
  color: white !important;
}
.container {
  min-height: 100vh;
}
.owner-pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.about-container {
  display: flex;
  align-items: center;
}
.contact {
  margin-top: 10%;
  display: flex;

  flex-direction: column;

  align-items: center;
}
.contactme {
  font-size: 20px;
  padding: 2px;
}

.question {
  margin-bottom: 50px;
}
.bold {
  font-weight: 600;
}
.faq-h1 {
  text-align: center;
  margin: 30px 0;
}
